body {
  font-family: Nunito, Nunito-fallback, ui-sans-serif, system-ui;
  background-color: #faf5ee;
}
h1 {
  font-weight: 800;
  text-align: center;
  color: #202020;
  font-size: 45px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  background: transparent;
  border: 1px solid #c0c0c0;
  width: 20%;
  padding: 11px;
  font-size: 14px;
  border-radius: 24px;
  color: #000;
}
input:focus {
  outline-color: rgb(45, 151, 81);
}
.search-btn {
  padding: 6px 14px;
  margin-left: -30px;
  border-radius: 24px;
  border: 1px solid #c0c0c0;
}
.results {
  margin-top: 1.5rem;
  background-color: #fff;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Montserrat, sans-serif;
  justify-content: center;
}
.results .product-name {
  font-size: 35px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.l-side {
  position: relative;
}
.r-side {
  text-align: left;
}
.results span {
  font-weight: 400;
  font-size: 18px;
}

img {
  width: 70%;
  height: 100%;
  cursor: pointer;
}

.img-hover {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 0.25s ease;
}
.l-side:hover .img-hover {
  opacity: 1;
}
.error-msg {
  color: red;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
  input {
    width: 70%;
  }
  img {
    width: 100%;
  }
  .results .product-name {
    font-size: 1.5rem;
  }
}
